parameters:
    level: 7
    reportUnmatchedIgnoredErrors: false
    autoload_files:
        - vendor-bin/cs-fixer/vendor/autoload.php
        - vendor-bin/phpunit/vendor/autoload.php
    ignoreErrors:
        -
            message: '#Undefined variable: \$container#'
            path: config/services.php
        -
            message: '#Class Symfony\\Component\\Config\\Definition\\Builder\\TreeBuilder does not have a constructor#'
            path: src/Configuration/Definition.php
        -
            message: '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\)#'
            path: src/Configuration/Definition.php
        - '#Constant CRUNZ_BIN not found#'
        -
            message: '#Variable \$configFile might not be defined#'
            path: src/Configuration/ConfigurationParser.php
        -
            message: '#Call to an undefined method Crunz\\Event::DummyFrequency\(\)#'
            path: src/Stubs/BasicTask.php
        -
            message: '#Call to an undefined method Crunz\\Event::every.*(Minutes|Hours)\(\)#'
            path: tests/Unit/EventTest.php
        - '#Method Crunz\\(Event|Schedule|Tests\\Unit\\Pingable)::(pingBefore|thenPing)\(\) should return \$this\(Crunz\\Pinger\\PingableInterface\)#'
        -
            message: "#Call to function method_exists\\(\\) with 'Symfony\\\\\\\\Component…' and '(fromShellCommandline|inheritEnvironmentV…)' will always evaluate to false#"
            path: src/Process/Process.php
        -
            message: '#Parameter \#1 \$command of static method Symfony\\Component\\Process\\Process::fromShellCommandline\(\) expects string, array|string given#'
            path: src/Process/Process.php
        -
            message: '#setProcess\(\)#'
            path: tests/Unit/EventTest.php

includes:
    - vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/rules.neon
#    - vendor-bin/phpstan/vendor/phpstan/phpstan-strict-rules/rules.neon
